@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --color-primary: #0a2538;
  --color-secondary: #e84a2e;
  --color-accent: #b61f04;
  --color-grey: #95a5a6;
  --color-card-color: #fff5e4;
  --color-feature-primary: #fff5e4;
  --color-feature-secondar: #ffffff;
}


